name: somapp
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^2.2.0
  cupertino_icons: ^1.0.2
  firebase_core: ^1.11.0
  cloud_firestore: ^3.1.6
  flutter_swipe_action_cell: ^2.1.5
  get_time_ago: ^1.1.2
  flutter_colorpicker: ^1.0.3
  

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true
